
.formad{
    display: flex;
    justify-content:center;

}
.btnRandom {
    background-color: lawngreen;
    border-radius: 30px;
}

.btn1{
border-radius: 30px;
background-color: khaki;


}
.filtre {
    text-align: center;
}
.btn{
    background-color: rgb(255, 127, 212);
    box-shadow: black;
    border-radius: 20px;
}
.task-element  {
    display:flex;
    justify-content:space-between;

}

#tache {

    border-radius: 20px;
}

/* body {
     */
/* margin: 0;
min-height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows:  ; */


/* } */



.material-icons{
    background-color: blue;
    cursor: pointer;
} 
.container {
    border : 1px solid gray;
    background-color: #c5c3c5;
}
#nom-tableau{
    background-color: #da4042 ;
    padding: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.btn {
border-radius: 20px;
 
}