body{
    font-family:  Papyrus, sans-serif;
    margin: 0;
}
.formad{
    display: flex;
    justify-content:center;

}

#formulaire{
    margin: 20px 0px;
}
.btnRandom {
    background-color: salmon;
    border-radius: 10px;
    padding:10px;
    width:100px;
    
}

.btn1{
    border-radius: 30px;
    background-color: rgb(245, 48, 123);
    border: none;
    padding: 0px 30px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 24px;
}
.starplus:hover{
    background-image: url('img/star-solid.svg')
}
.starplus, .starmoins{
    color: black;
}
.starmoins:hover{
    background-image: url('img/star-regular.svg')
}
.filtre {
    text-align: center;
}
.btn{
    background-color: rgb(236, 236, 236);
    box-shadow: 2px 2px 5px 3px red;
    border-radius: 13px;
    margin: 10px 10px;
    padding: 7px;
    width: 100px;
    cursor: pointer;
}
.task-element  {
    display:flex;
    justify-content:space-between;

}

#tache {
    padding: 8px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    outline-width: 0;
    font-size: 18px;
    width: 30%;
    text-align: center;
}

/* body {
     */
/* margin: 0;
min-height: 100vh;
display: grid;
grid-template-columns: 1fr 1fr ;
grid-template-rows:  ; */


/* } */



.material-icons{
    background-color: blue;
    cursor: pointer;
} 
.container {
    border : 1px solid gray;
    background-color: #c5c3c5;
}
#nom-tableau{
    background-color: #da4042 ;
    padding: 20px;
    color: white;
    font-size: 30px;
    text-align: center;
}

.container{
    height: 100vh;
}